<!DOCTYPE html>
<html>
<head>
    <title>Matthis pretium forecasting</title>
    <link rel="stylesheet" type="text/css" href="% static 'bootstrap/css/style.css' %">
    <link rel="stylesheet" href="topbar.css">
    <link rel="stylesheet" href="bottombar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
    
</head>
<body>
    <header>
        <div class="Pasek_opcji">
            <span class="Dane_uzytkownika">Dane użytkownika</span>
            <span id="Rejestracja">
                <img id="Rejestracja_napis" src="{% static 'images/Rejestracja.png' %"} alt=Rejestracja>
              </span>
            <div id="login-form" class="closed">
                <div class="form-row">
                    <label for="username">Login:</label>
                    <input type="text" id="username" placeholder="">
                </div>
                <div class="form-row">
                    <label for="password">Hasło:</label>
                    <input type="password" id="password" placeholder="">
                </div>
                <div class="form-row">
                    <div class="form-actions">
                        <button id="login-button">Zaloguj</button>
                    </div>
                </div>
            </div>
            
            <div class="options">
                <div class="flags">
                  <div id="flag1" class="flag-item" data-image="Palac.jpg">
                    <img src="PL_flag.svg.png" alt="Flag 1">
                  </div>
                  <div id="flag2" class="flag-item" data-image="BigBen.jpg">
                    <img src="UK_flag.png" alt="Flag 2">
                  </div>
                  <div id="flag3" class="flag-item">
                    <img src="SPQR_flag.png" alt="Flag 3">
                  </div>
                </div>
              </div>
        </div>
    </header>
    <section>
        <div class="title">Prognozowanie</div>
        
    </section>
    <section>
        <div class="Prognozowanie-obszar">
            <div class="wrapper">
              <div class="powierzchnia-tekst tekst">Powierzchnia:</div>
              <input type="number" class="powierzchnia-input input" placeholder="Wpisz liczbę" />
            </div>
            <div class="wrapper">
              <div class="pokoje-tekst tekst">Pokoje:</div>
              <input type="number" class="pokoje-input input" placeholder="Wpisz liczbę" />
            </div>
            <div class="prostokatne-pole">
              <h1 class="prognozowana-cena">Prognozowana cena</h1>
            </div>
          </div>
        <img id="zdjecie-prawo" src="Palac.jpg" alt="Zdjęcie-prawo" class="palac-image" >
    </section>
    <footer>
        <div class="Pasek_dolny">
            <div class="Pasek_dolny_lewy">
                <span class="Wersja_programu">Wersja programu: Beta 0.98.3</span>
            </div>
            <div class="Pasek_dolny_prawy">
                <span class="Autorzy">Autorzy: Jakub Kołodziej i Piotr Wieczorek</span>
            </div>
        </div>
    </footer>
    <script src="/usr/share/javascript/jquery/jquery.min.js"></script>
    <audio id="background-music" loop>
      <source src="divinitus.mp3" type="audio/mpeg">
    </audio>
</body>
</html>